<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060307128443-ei2s6ke86u1heeuu07v6ijnkouidnfog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060307128443-ei2s6ke86u1heeuu07v6ijnkouidnfog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1060307128443-14tg3j33ev1ehdmm2a3i78biad7p0qr3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSnh41ZfuNFPQzoRDbzFLswrfoPR0uDGw</string>
	<key>GCM_SENDER_ID</key>
	<string>1060307128443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogotv.app</string>
	<key>PROJECT_ID</key>
	<string>yogotv-639cd</string>
	<key>STORAGE_BUCKET</key>
	<string>yogotv-639cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060307128443:ios:13ca59a36c37df970b92de</string>
</dict>
</plist>